# Preferences file for version 2.13
ORIGIN = "http://www.dudek.org/blog/180"  #   # where to look for an updated version
lastbaud = 9600#   # last baud rate successfully use or manually specificied
firmware = "10E6"
defaultPAN = "3332"
next_version_check = 1330900028.7#   # when to check again
VERSIONCHECKDAYS = 30#   # how often to check the version (days)
